* {
  text-decoration: none;
  color: inherit;
  list-style: none;

}

.App {
  text-align: center;
  text-decoration: none;
  color: inherit;
  list-style: none;
}

.ingredientItems {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.ingr_btn {
  width: auto;
}